@import "tailwindcss";

@theme {
  --color-background: #181a1c;
  --color-text-primary: #ffffff;
  --color-text-secondary: #c1c2c4;
  --color-btn-primary: #0f1e93;
  --color-btn-primary-hover: #3254FF;
  --color-btn-secondary: #22282A;
  --color-btn-secondary-hover: #3d4142;
  --color-bdr: #e7e3fc3b;
  --background-image-hero: url('/images/hero.png');
  --text-10: 10px;
  --breakpoint-sm: 20rem;
}

:root {
  color: var(--color-text-primary);
  background: var(--color-background);
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
}
