DB_HOST=localhost
DB_PORT=5432
DB_NAME=movie_app
DB_USER=postgres
DB_PASSWORD=
JWT_SECRET = harisenin_jaya
JWT_EXPIRES_IN = 1d
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=sofyanyunianto.work@gmail.com
SMTP_PASSWORD=nsfplyccdgksxbkj
FRONTEND_URL=http://localhost:5173